{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Login</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>E-mail:</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Password:</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Log in
                    </button>
                </form>
            </div>

        </div>
    </form>
    <div class="row">
        <div class="col-lg-8 mb-4">
            You don't have an account ? Please <a href="{{ path('app_register') }}">register</a>
        </div>
        <div class="col-lg-8 mb-4">
            <a href="#">You lost your password ?</a>
        </div>
    </div>
{% endblock %}
