{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Homepage</h1>
{% endblock %}
